.boss {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 1fr 1fr 2rem;
  background-color: beige;
  border: solid 0.1rem black;
  border-radius: 0.4rem;
  margin: 0.4rem 0;
  padding: 0.2rem 0;
  align-items: center;
}

.boss_name, .boss_location {
  text-align: center;
}

.trash_icon {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trash_icon:hover,
.trash_icon:active {
  cursor: pointer;
}

.trash_icon:hover svg,
.trash_icon:active svg {
  fill: red;
}