.quests__title_section {
  width: 95%;
  margin: auto;
}

.quests__title_section {
  width: 95%;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin: 0.4rem auto;
  padding: 0.8rem;
  border-bottom: solid 0.2rem black;
}

.quests {
  margin: 0 auto;
}