.quest {
  display: flex;
  flex-direction: column;
  background-color: beige;
  justify-content: center;
  width: 95%;
  min-height: 2.5rem;
  border: solid 0.1rem black;
  border-radius: 0.4rem;
  margin: 0.8rem auto;
  padding: 0.2rem 0;
}

.title {
  display: inline-flex;
  justify-content: start;
  align-items: center;
  min-height: 2.5rem;
}

.quest__name {
  width: 97%;
}

.icon {
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 2rem;
  background-color: rgb(224, 173, 21);
  border-radius: 0.2rem;
}

.icon:hover,
.icon:active {
  cursor: pointer;
  background-color: rgb(149, 94, 0);
}

.step_label {
  width: 98%;
  margin: 0.4rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}